.style_tableInfo__vHF9E {
    display: flex;
    flex-direction: column;
    margin-top: 40px
}

.style_tableInfo__vHF9E .style_tableRow__n3Vww {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    border-top: 1px solid var(--border-border-secondary, #505355);
    gap: 8px
}

@media(min-width:48em) {
    .style_tableInfo__vHF9E .style_tableRow__n3Vww {
        flex-direction: row;
        gap: 0
    }
}

.style_tableInfo__vHF9E .style_tableRow__n3Vww .style_tableRowTitle__rSJCU {
    width: 100%
}

@media(min-width:48em) {
    .style_tableInfo__vHF9E .style_tableRow__n3Vww .style_tableRowTitle__rSJCU {
        width: 30%
    }
}

.style_tableInfo__vHF9E .style_tableRow__n3Vww .style_tableRowDescription__848XW {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    white-space: pre-line
}

@media(min-width:48em) {
    .style_tableInfo__vHF9E .style_tableRow__n3Vww .style_tableRowDescription__848XW {
        width: 70%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between
    }
}

.style_wrapper__o_Vv2 {
    --button-size: 54px;
    --button-border: 14px;
    --button-size-mobile-offset: 0.75;
    --button-border-mobile-offset: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.style_wrapper__o_Vv2 .style_menu__TcCgd {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.style_wrapper__o_Vv2 .style_menu__TcCgd .style_menuItem__G3FlK {
    display: flex;
    align-items: center;
    cursor: pointer
}

.style_wrapper__o_Vv2 .style_menu__TcCgd .style_menuItem__G3FlK .style_menuItemCircle__76XrW {
    width: calc(var(--button-size)*var(--button-size-mobile-offset));
    height: calc(var(--button-size)*var(--button-size-mobile-offset));
    border: calc(var(--button-border)*var(--button-border-mobile-offset)) solid #000;
    border-radius: 50%;
    background-color: #fff;
    outline: 2px solid transparent
}

@media(min-width:67em) {
    .style_wrapper__o_Vv2 .style_menu__TcCgd .style_menuItem__G3FlK .style_menuItemCircle__76XrW {
        width: var(--button-size);
        height: var(--button-size);
        border-width: var(--button-border)
    }
}

.style_wrapper__o_Vv2 .style_menu__TcCgd .style_menuItem__G3FlK .style_menuItemLabel__IMc4V {
    margin-left: 30px;
    color: #505355
}

.style_wrapper__o_Vv2 .style_menu__TcCgd .style_menuItem__G3FlK[data-active=true] .style_menuItemCircle__76XrW {
    outline-color: #fff
}

.style_wrapper__o_Vv2 .style_menu__TcCgd .style_menuItem__G3FlK[data-active=true] .style_menuItemLabel__IMc4V {
    color: #fff
}

.style_wrapper__o_Vv2 .style_imageLabel__B4Bm_ {
    margin: 30px 0;
    line-height: 1
}

.style_wrapper__o_Vv2 .style_imageWrapper__I7DDv {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 220px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7vw
}

@media(min-width:67em) {
    .style_wrapper__o_Vv2 .style_imageWrapper__I7DDv {
        max-width: 347px
    }
}

.style_wrapper__o_Vv2[data-is-vertical-view=true] {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center
}

.style_wrapper__o_Vv2[data-is-vertical-view=true] .style_menu__TcCgd {
    flex-direction: row
}

.style_wrapper__o_Vv2[data-is-vertical-view=true] .style_menu__TcCgd .style_menuItem__G3FlK .style_menuItemLabel__IMc4V {
    display: none
}

.style_wrapper__o_Vv2[data-is-vertical-view=true] .style_imageWrapper__I7DDv {
    margin-right: 0
}

.style_root__wdyIg {
    display: flex;
    flex-direction: column
}

.style_root__wdyIg.style_topBorder__8vODv {
    padding-top: 40px;
    border-top: 1px solid var(--border-border-secondary, #505355)
}

.style_root__wdyIg .style_typography__CBO0J {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.style_root__wdyIg .style_typography__CBO0J .style_heading__vviST,
.style_root__wdyIg .style_typography__CBO0J .style_title__eHybt {
    margin: 0
}

.style_root__wdyIg .style_typography__CBO0J .style_description__sO_e_ {
    margin-top: 8px;
    margin-bottom: 0;
    color: #b6b6b2
}

.style_ledWrapper__9H0zp {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.style_worldLed__6rd1w {
    margin: 60px 0 15px
}

@media(min-width:60em) {
    .style_worldLed__6rd1w {
        margin: 100px 0
    }
}

.style_userLed__ngSgq {
    margin: 70px 0 30px
}

@media(min-width:60em) {
    .style_userLed__ngSgq {
        margin: 100px 0
    }
}

.style_overlay__w_SH5 {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_closeButton__SGXd4 span {
    cursor: pointer;
    transition: opacity .15s ease-in-out;
    will-change: opacity
}

.style_closeButton__SGXd4 span:active {
    opacity: .6
}

@media(hover:hover) {
    .style_closeButton__SGXd4 span:hover {
        opacity: .6
    }
}

.style_overlay__w_SH5 {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    pointer-events: none
}

.style_main__yT_Hm {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    will-change: opacity, transform
}

.style_main__yT_Hm.style_mobile__QUNGW {
    left: 0;
    width: 100%;
    pointer-events: none
}

.style_main__yT_Hm.style_mobile__QUNGW.style_infoExpanded__90ipW {
    pointer-events: auto
}

.style_main__yT_Hm.style_mobile__QUNGW .style_role___6bXp {
    margin: 0
}

.style_main__yT_Hm.style_desktop__5eIL0 {
    left: 0;
    width: 50%;
    padding-left: 108px
}

.style_main__yT_Hm.style_desktop__5eIL0.style_hero__T0McX {
    width: 100%;
    padding-left: 80px
}

.style_content__raWfU {
    min-height: 100%
}

.style_mobile__QUNGW .style_content__raWfU {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 120px;
    padding-bottom: 30px;
    will-change: opacity
}

.style_mobile__QUNGW .style_content__raWfU .style_title__M3hjX {
    margin: 0;
    color: var(--hu-colors-solar, #fff);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.75px;
    line-height: 32px
}

@media(max-width:375px) {
    .style_mobile__QUNGW .style_content__raWfU .style_title__M3hjX {
        font-size: 22px
    }
}

.style_mobile__QUNGW .style_content__raWfU.style_heroInfo__rhekc .style_title__M3hjX {
    color: var(--hu-colors-solar, #fff);
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 48px
}

.style_mobile__QUNGW .style_content__raWfU.style_heroInfo__rhekc .style_subTitle__nm7HM {
    margin: 0;
    color: var(--hu-colors-solar, #fff);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.75px;
    line-height: 32px
}

.style_desktop__5eIL0 .style_content__raWfU {
    display: flex;
    max-width: 580px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30vh 0 120px
}

.style_desktop__5eIL0 .style_content__raWfU .style_title__M3hjX {
    margin: 0;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 64px;
    white-space: pre-line
}

.style_desktop__5eIL0 .style_content__raWfU.style_heroInfo__rhekc {
    max-width: 650px;
    padding: 35vh 0 120px
}

.style_desktop__5eIL0 .style_content__raWfU.style_heroInfo__rhekc .style_title__M3hjX {
    margin: 0;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 76px
}

.style_desktop__5eIL0 .style_content__raWfU.style_heroInfo__rhekc .style_heading__c2GPJ {
    margin-bottom: 10px
}

.style_expanded__28EGi.style_desktop__5eIL0 .style_content__raWfU {
    justify-content: center;
    padding: 100px 0;
    color: pink
}

.style_desktop__5eIL0 .style_heading__c2GPJ {
    margin-bottom: 40px
}

.style_button__MpjOM {
    margin-top: 30px
}

@media(max-width:375px) {
    .style_button__MpjOM {
        margin-top: 10px
    }
}

.style_desktop__5eIL0 .style_button__MpjOM {
    will-change: opacity
}

.style_closeButton__SGXd4 {
    pointer-events: auto
}

.style_closeButton__SGXd4 span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1
}

.style_closeIcon__Maacp {
    width: 12px;
    height: 12px;
    margin-right: 8px
}

.style_infoExcerpt__mgnvz {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 32px;
    white-space: pre-line
}

.style_mobile__QUNGW .style_infoExcerpt__mgnvz {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-line
}

@media(max-width:375px) {
    .style_mobile__QUNGW .style_infoExcerpt__mgnvz {
        margin-top: 10px
    }
}

.style_mobile__QUNGW .style_info__a52ld {
    margin-top: 30px;
    white-space: pre-line
}

.style_desktop__5eIL0 .style_info__a52ld {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-line;
    will-change: opacity
}

.style_readMore__SqMtn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    pointer-events: auto
}

.style_readMore__SqMtn:hover {
    color: var(--hu-colors-crater-base)
}

.style_link__etGQj {
    margin-bottom: 24px;
    font-size: 16px;
    pointer-events: auto
}

.style_desktop__5eIL0 .style_link__etGQj:first-of-type {
    margin-top: 48px
}

.style_mobile__QUNGW .style_link__etGQj:first-of-type {
    margin-top: 32px
}

.style_link__etGQj .style_linkLabel__2J6qz:hover {
    color: var(--hu-colors-crater-base)
}

.style_link__etGQj .style_linkLabel__2J6qz:hover path {
    stroke: var(--hu-colors-crater-base)
}

.aipin-trust_subTitle__Wvy7T {
    position: absolute;
    top: 40px;
    display: none;
    padding-left: 108px;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px
}

@media(min-width:67em) {
    .aipin-trust_subTitle__Wvy7T {
        display: flex
    }
}

.aipin-trust_image__GB7ED {
    position: absolute;
    top: 72px;
    overflow: hidden;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    will-change: opacity
}

@media(min-width:67em) {
    .aipin-trust_image__GB7ED {
        top: 50%;
        right: 0;
        width: 50%;
        height: auto;
        transform: translateY(-50%)
    }
}

.aipin-trust_image__GB7ED.aipin-trust_heroImage__0osfH {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.aipin-trust_aipin__V6IS5 {
    position: absolute;
    top: 72px;
    right: 50%;
    width: 80%;
    height: calc(55dvh - 72px);
    transform: translateX(50%)
}

@media(orientation:landscape) {
    .aipin-trust_aipin__V6IS5 {
        width: auto
    }
}

@media(min-width:67em) {
    .aipin-trust_aipin__V6IS5 {
        position: absolute;
        top: 50%;
        right: -10%;
        width: 80%;
        height: auto;
        transform: translateY(-50%)
    }
}

.aipin-trust_footer__OECnJ {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0
}