.style_body__QtwPI,
.style_item__svoeP:after {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_accelerator__1GM0g {
    background: none
}

.style_accelerator__1GM0g:not(.style_active__sp0K6) {
    pointer-events: none
}

.style_body__QtwPI {
    position: absolute
}

.style_item__svoeP {
    position: fixed;
    top: 72px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100svh - 72px);
    pointer-events: none;
    will-change: transform, opacity
}

@media(min-width:67em) {
    .style_item__svoeP {
        top: 0
    }
}

@supports(-webkit-touch-callout:none) {
    .style_item__svoeP {
        pointer-events: auto
    }
    .style_item__svoeP:after {
        position: absolute;
        content: ""
    }
}

.style_eyebrow__J29Gc {
    will-change: opacity
}

.style_headline__SEr_T {
    position: absolute;
    bottom: var(--page-padding-y);
    left: var(--page-padding-x);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 500;
    will-change: transform, opacity
}

.style_acceleratorVariantnewinteractions__OkbRH .style_image__eSk9s {
    object-fit: contain;
    object-position: 0 50%;
    transform: scale(1.7);
    transform-origin: 60% 50%
}

@media(min-aspect-ratio:1627281607154991/1231453023109120) {
    .style_acceleratorVariantnewinteractions__OkbRH .style_image__eSk9s {
        transform: scale(1)
    }
}

@media(min-width:48em) {
    .style_acceleratorVariantnewinteractions__OkbRH .style_image__eSk9s {
        transform: scale(1.25)
    }
}

@media(min-width:60em) {
    .style_acceleratorVariantnewinteractions__OkbRH .style_image__eSk9s {
        transform: scale(1)
    }
}

.style_main__2oDCz {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    object-fit: cover;
    will-change: opacity, transform
}

.style_eyebrow__oUuU8 {
    position: absolute;
    top: var(--page-padding-y);
    left: var(--page-padding-y);
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 8px
}

.style_eyebrow__oUuU8 .style_label__tDHPW {
    padding: 3px 7px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: var(--opacity, rgba(0, 0, 0, .16))
}

.style_aiPinContainer__ty3zL,
.style_image__i8U2z {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_aiPinContainer__ty3zL {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#000, #0f0f0f)
}

.style_aiPin__tBZKl {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40vh;
    max-width: 230px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.style_aiPin__tBZKl:before {
    display: block;
    padding-bottom: 50%;
    content: ""
}

@media(min-width:48em) {
    .style_aiPin__tBZKl {
        max-width: 368px
    }
}

@media(min-width:60em) {
    .style_aiPin__tBZKl {
        max-width: 460px
    }
}

.style_image__i8U2z {
    position: absolute;
    will-change: transform
}

.style_copy__ulwWU {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%)
}

@media(min-width:67em) {
    .style_copy__ulwWU {
        bottom: 80px
    }
}

.style_aipinLogo__13oh_ {
    overflow: hidden;
    margin-bottom: 5px;
    color: var(--colors-whiteRgb);
    font-size: 130px
}

@media(min-width:36em) {
    .style_aipinLogo__13oh_ {
        font-size: 180px
    }
}

.style_price__GzShG {
    overflow: hidden;
    color: var(--colors-craterGrey);
    font-size: 18px;
    text-align: center
}

@media(min-width:48em) {
    .style_price__GzShG {
        font-size: 24px
    }
}

.style_label__ANMT6 {
    margin-top: 8px;
    color: var(--colors-craterGrey200)
}

.style_line__JR7aY {
    padding: 5px 0;
    will-change: transform, opacity
}

.style_videoThumbnailButton__xztAH {
    position: absolute;
    top: 81px;
    left: 15px
}

@media(min-width:67em) {
    .style_videoThumbnailButton__xztAH {
        top: 20px;
        left: 20px
    }
}

.style_main__ISazy {
    height: 100%;
    inset: 0;
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: calc(100svh - 72px)
}

@media(min-width:67em) {
    .style_main__ISazy {
        top: 0
    }
}

.style_main__ISazy canvas {
    -webkit-mask-image: radial-gradient(#000 65%, transparent);
    mask-image: radial-gradient(#000 65%, transparent)
}

.style_root__Bt9R1 {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #000;
    gap: 42px
}

.style_text__lBvBw {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    flex: 1 1;
    flex-basis: 25%;
    --top-gradient: linear-gradient(180deg, #000, #000 30%, hsla(0, 0%, 51%, 0) 40%, hsla(0, 0%, 100%, 0));
    --bottom-gradient: linear-gradient(0deg, #000, #000 30%, hsla(0, 0%, 51%, 0) 40%, hsla(0, 0%, 100%, 0))
}

.style_textGradient__Kdzxr {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400%;
    background: var(--bottom-gradient), var(--top-gradient);
    content: " "
}

.style_images__Wpu9H {
    position: relative;
    width: 250px;
    height: 260px;
    flex-shrink: 0;
    aspect-ratio: 1/1
}

.style_root__lEI9v {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    padding: 32px
}

.style_root__lEI9v .style_textContainer__3xxBI {
    position: relative;
    top: -32px;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px
}

@media(min-width:67em) {
    .style_root__lEI9v .style_textContainer__3xxBI {
        top: 0
    }
    .style_root__lEI9v {
        right: 0;
        width: 50%;
        align-items: center;
        justify-content: center;
        padding-right: 64px
    }
}

.style_main__8MRZc {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background: var(--colors-blackRgb)
}

.style_main__gWJct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-weight: 500;
    will-change: transform, opacity
}

.style_main__8sYc4 {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background-color: var(--colors-blackRgb);
    will-change: transform
}

.style_image__pTCaX {
    will-change: transform, opacity
}

.style_main__msLYc {
    position: absolute;
    overflow: hidden;
    height: 50%;
    inset: 50% 0 0;
    -webkit-mask-image: linear-gradient(transparent 0, #000 var(--page-padding-y), #000 calc(100% - var(--page-padding-y)), transparent 100%);
    mask-image: linear-gradient(transparent 0, #000 var(--page-padding-y), #000 calc(100% - var(--page-padding-y)), transparent 100%)
}

@media(min-width:80em)and (min-aspect-ratio:6/5) {
    .style_main__msLYc {
        height: calc(100% - var(--page-padding-y)*2);
        inset: calc(var(--page-padding-y)*2) 0 0
    }
}

.style_item__SvLWv {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--page-padding-y) var(--page-padding-x);
    transform-origin: 0 50%;
    will-change: transform, opacity, filter
}

.style_paragraph__LG94H,
.style_subheadline__l5GhF {
    max-width: 800px
}

@media(min-width:67em) {
    .style_paragraph__LG94H,
    .style_subheadline__l5GhF {
        width: 800px;
        max-width: 60vw
    }
}

.style_paragraph__LG94H span {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 24px
}

@media(min-width:67em) {
    .style_paragraph__LG94H span {
        font-size: 24px !important;
        font-weight: 300 !important;
        line-height: 32px !important
    }
}

.style_root__V4mCy {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%
}

.style_main___ruKf {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 32px;
    background-color: #000;
    gap: 32px
}

@media(min-width:67em) {
    .style_main___ruKf {
        padding-bottom: 120px;
        gap: 120px
    }
}

.style_text__3ayIb {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.style_centerImage__0pm4k {
    position: relative;
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 1.669
}

.style_centerImage__0pm4k img {
    object-fit: contain
}

.style_gradient__wCNbr {
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, #000, #000 25%, hsla(0, 0%, 100%, 0))
}

.style_disclaimer__GKcn8 {
    padding: 15px;
    border-top: 1px solid var(--colors-penumbra200);
    background: var(--colors-blackRgb);
    color: var(--colors-craterGrey)
}

@media(min-width:67em) {
    .style_disclaimer__GKcn8 {
        padding: 15px 40px
    }
}

.style_disclaimer__GKcn8 a {
    color: var(--colors-crater)
}

.style_main__q7Zlk {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: visible;
    padding-top: 30vh;
    padding-bottom: 56px;
    background: var(--colors-blackRgb)
}

@media(min-width:67em) {
    .style_main__q7Zlk {
        padding: 30vh 56px 72px
    }
}

.style_grid__zT_RQ {
    display: grid;
    width: 150vw;
    grid-gap: 16px 20px;
    gap: 16px 20px;
    grid-auto-flow: row;
    grid-template-areas: "a a b b c c" "a a b b c c" "a a b b c c" "d e f f g g" "d e f f g g" "i j h h l l" "k k h h l l" "m m n n o o" "m m n n o o" "m m n n o o" "p q r r s u" "p q r r t u";
    grid-template-columns: repeat(6, .5fr);
    grid-template-rows: repeat(12, .5fr);
    transform: translateX(-25vw)
}

@media(min-width:67em) {
    .style_grid__zT_RQ {
        width: auto;
        grid-template-areas: "a a b b c c" "a a b b c c" "d e f f g g" "d e f f g g" "h h i k l l" "h h j k l l" "m m n n o o" "m m n n o o" "p q r r s u" "p q r r t u";
        grid-template-columns: repeat(6, .5fr);
        grid-template-rows: repeat(10, .5fr);
        transform: none
    }
}

.style_gridImage__pFzAx {
    position: relative !important;
    border-radius: 40px;
    object-fit: cover;
    will-change: transform
}

.style_a__AEqoL {
    grid-area: a
}

.style_b__IE5ak {
    grid-area: b
}

.style_c___qPjw {
    grid-area: c
}

.style_d__qrQ0q {
    grid-area: d
}

.style_e__5CLEX {
    grid-area: e
}

.style_f__UWEfc {
    grid-area: f
}

.style_g__omaZ0 {
    grid-area: g
}

.style_h__q8iKH {
    grid-area: h
}

.style_i__9upIE {
    grid-area: i
}

.style_j__qHZxH {
    grid-area: j
}

.style_k___1HKW {
    grid-area: k
}

.style_l__Y1ywJ {
    grid-area: l
}

.style_m__UHLlX {
    grid-area: m
}

.style_n__0MFa3 {
    grid-area: n
}

.style_o__q7mUf {
    grid-area: o
}

.style_p__iUSw5 {
    grid-area: p
}

.style_q__QcQiF {
    grid-area: q
}

.style_r__YlnUv {
    grid-area: r
}

.style_s__cFs22 {
    grid-area: s
}

.style_t__o1irE {
    grid-area: t
}

.style_u__00_ZK {
    grid-area: u
}

.style_centralImageContainer__J3Xll {
    position: absolute;
    top: 0;
    left: 0
}

.style_centralImageContainer__J3Xll img {
    object-fit: cover
}

.style_body__Pt8bG,
.style_main__61AfD {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_main__61AfD {
    position: absolute;
    z-index: 0;
    background: var(--colors-blackRgb)
}

.style_body__Pt8bG {
    position: absolute
}

.style_videoContainer__sism3 {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 32px;
    transform-origin: 50% 25%
}

@media(min-width:67em) {
    .style_videoContainer__sism3 {
        width: 50%;
        max-width: calc(100% - 740px);
        align-items: center;
        padding-top: 0;
        padding-inline: 16px;
        transform-origin: 75% 50%
    }
}

.style_video__6bukU {
    width: 100%;
    height: auto
}

.style_contentBody__r0Po1,
.style_fixedElement__M_awc,
.style_section__M1Qyx {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_content__5gDEP {
    position: fixed;
    top: 72px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100svh - 72px)
}

@media(min-width:67em) {
    .style_content__5gDEP {
        top: 0
    }
}

.style_content__5gDEP:not(.style_active__7Jaet) {
    pointer-events: none
}

.style_contentBody__r0Po1 {
    position: absolute
}

.style_section__M1Qyx {
    position: absolute;
    overflow: hidden
}

.style_section__M1Qyx:not(.style_transparent__1Uudw) {
    background-color: var(--colors-blackRgb)
}

.style_fixedElement__M_awc {
    position: absolute
}

.style_scrollingElements__CLDEi {
    padding-bottom: 100svh
}

.style_scrollingElement__3URLl {
    min-height: var(--height-mobile);
    box-sizing: content-box;
    padding: var(--overlap-top) 0 var(--overlap-bottom) 0;
    margin-top: calc(var(--overlap-top)*-1);
    margin-bottom: calc(var(--overlap-bottom)*-1);
    pointer-events: none
}

@media(min-width:67em) {
    .style_scrollingElement__3URLl {
        min-height: var(--height)
    }
}

.style_main__51U4C {
    position: absolute;
    background: var(--colors-blackRgb)
}

.style_main__51U4C,
.style_main__QtcZf {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_main__QtcZf {
    position: absolute;
    background: var(--colors-blackRgb)
}

.style_main__KBWyM {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute
}

.style_bubble__Tiu_K {
    position: absolute;
    top: 0;
    left: 0;
    margin: -9px 0 0 -16px;
    transform-origin: 16px 9px
}

.style_bubbleContact__pRoxv {
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 10px;
    color: var(--colors-beam);
    column-gap: 5px;
    font-weight: 500
}

@keyframes style_dot__CC7bK {
    0% {
        transform: scale(.7)
    }
    to {
        transform: scale(1)
    }
}

.style_bubbleContact__pRoxv:before {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: style_dot__CC7bK 1s infinite alternate;
    background: currentcolor;
    content: ""
}

.style_bubbleMessage__oFyqI {
    max-width: 230px;
    padding: 15px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: hsla(0, 0%, 100%, .1);
    color: var(--colors-beam);
    font-weight: 500
}

.style_main__kte6_ {
    position: absolute;
    object-fit: cover;
    pointer-events: none
}

.style_main__kte6_,
.style_main__pLQdl,
.style_video__Bht6A {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_main__pLQdl {
    position: absolute;
    background: var(--colors-blackRgb)
}

.style_video__Bht6A {
    position: absolute
}

.style_videoElement__OE70e {
    overflow: visible;
    object-position: 37% 50%;
    scale: .8
}

@media(max-aspect-ratio:0.5) {
    .style_videoElement__OE70e {
        scale: .7
    }
}

@media(min-width:67em) {
    .style_videoElement__OE70e {
        scale: 1
    }
}

.style_video__Bht6A:after {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000, #000 15%, hsla(0, 0%, 100%, 0) 25%);
    content: " ";
    inset: 0
}

@media(min-width:67em) {
    .style_video__Bht6A:after {
        display: none
    }
}

.style_main__V8zx2 {
    background: var(--colors-blackRgb)
}

.style_main__V8zx2,
.style_video__DyGDK {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute
}

.style_video__DyGDK {
    scale: 1.3
}

.style_main__R0T4K,
.style_visualContainer__Kmop4 {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_main__R0T4K {
    position: absolute
}

.style_visualContainer__Kmop4 {
    position: absolute;
    transform: scale(1.7);
    transform-origin: 60% 50%
}

@media(min-aspect-ratio:1627281607154991/1231453023109120) {
    .style_visualContainer__Kmop4 {
        transform: scale(1)
    }
}

@media(min-width:48em) {
    .style_visualContainer__Kmop4 {
        transform: scale(1.25)
    }
}

@media(min-width:60em) {
    .style_visualContainer__Kmop4 {
        transform: scale(1)
    }
}

.style_visual__obY4e {
    object-fit: contain;
    object-position: 0 50%
}

.style_main__Ro9hx {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background: #000
}

.style_touch__nlnkK .style_image__LNudg {
    object-fit: contain;
    object-position: 50% 100%
}

.style_touch__nlnkK .style_image__LNudg.style_vertical__AvQl_ {
    display: none
}

@media(max-aspect-ratio:1648/1079) {
    .style_touch__nlnkK .style_image__LNudg {
        object-fit: cover;
        object-position: 100% 100%
    }
}

@media(max-aspect-ratio:1/1) {
    .style_touch__nlnkK .style_image__LNudg.style_horizontal__yVzKm {
        display: none
    }
    .style_touch__nlnkK .style_image__LNudg.style_vertical__AvQl_ {
        display: block;
        -webkit-mask-image: linear-gradient(#000 calc(100% - 250px), rgba(0, 0, 0, .4));
        mask-image: linear-gradient(#000 calc(100% - 250px), rgba(0, 0, 0, .4));
        object-fit: cover;
        object-position: 100% 100%
    }
}

.style_hand__Ni5VO .style_image__LNudg {
    object-fit: contain;
    object-position: 0 50%;
    transform: scale(1.7);
    transform-origin: 60% 50%
}

@media(min-aspect-ratio:1627281607154991/1231453023109120) {
    .style_hand__Ni5VO .style_image__LNudg {
        transform: scale(1)
    }
}

@media(min-width:48em) {
    .style_hand__Ni5VO .style_image__LNudg {
        transform: scale(1.25)
    }
}

@media(min-width:60em) {
    .style_hand__Ni5VO .style_image__LNudg {
        transform: scale(1)
    }
}

.style_copy__wCqct {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--page-padding-y) var(--page-padding-x);
    row-gap: 32px
}

@media(min-width:67em) {
    .style_copy__wCqct {
        width: 800px;
        max-width: 60vw
    }
}

.style_gradientLayer__J3S54,
.style_main__d68u1,
.style_trustedContactsNotificationIcon__97CWv:before {
    width: 100%;
    height: 100%;
    inset: 0
}

.style_main__d68u1 {
    --scale-value: 1;
    --center-x: 75%;
    --center-y: 50%;
    position: absolute
}

.style_gradientLayer__J3S54 {
    position: absolute;
    background: linear-gradient(transparent 35%, #000 62%)
}

@media(min-width:80em)and (min-aspect-ratio:6/5) {
    .style_gradientLayer__J3S54 {
        display: none
    }
}

.style_contact__4S4Md {
    position: absolute;
    top: calc(50% + (var(--center-y) - 50%)*var(--scale-value));
    left: calc(50% + (var(--center-x) - 50%)*var(--scale-value));
    display: flex;
    align-items: center;
    color: var(--colors-beam);
    column-gap: .5vh;
    font-size: 2vh;
    font-weight: 500
}

@keyframes style_dot__bVC3L {
    0% {
        transform: scale(.7)
    }
    to {
        transform: scale(1)
    }
}

.style_contact__4S4Md:before {
    display: block;
    width: .8vh;
    height: .8vh;
    border-radius: 50%;
    animation: style_dot__bVC3L 1s infinite alternate;
    background: currentcolor;
    content: ""
}

.style_trustedContactsNotification__93bFK {
    position: absolute;
    top: calc(50% + (var(--center-y) - 50%)*var(--scale-value) - 16vh*var(--scale-value));
    left: calc(50% + (var(--center-x) - 50%)*var(--scale-value));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--colors-beam);
    row-gap: 1.5vh
}

.style_trustedContactsNotificationIcon__97CWv {
    position: relative;
    display: flex;
    width: 6vh;
    height: 6vh;
    align-items: center;
    justify-content: center
}

.style_trustedContactsNotificationIcon__97CWv:before {
    position: absolute;
    display: block;
    border-radius: 50%;
    animation: style_pulse__Wuunu 1.5s linear infinite;
    background: #01342e;
    content: ""
}

@keyframes style_pulse__Wuunu {
    0% {
        transform: scale(.95)
    }
    40% {
        transform: scale(1.05)
    }
    to {
        transform: scale(.95)
    }
}

.style_trustedContactsNotificationIconImage___RyIy {
    position: relative;
    width: 3vh;
    height: 3vh
}

.style_trustedContactsNotification__93bFK.style_call__WOGMg .style_trustedContactsNotificationIconImage___RyIy {
    animation: style_call-icon-animation__Ks5m1 2.5s linear infinite alternate
}

@keyframes style_call-icon-animation__Ks5m1 {
    0% {
        transform: rotate(-15deg)
    }
    9% {
        transform: rotate(10deg)
    }
    18% {
        transform: rotate(-15deg)
    }
    27% {
        transform: rotate(10deg)
    }
    36% {
        transform: rotate(-15deg)
    }
    45% {
        transform: rotate(10deg)
    }
    54% {
        transform: rotate(-15deg)
    }
    63% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(0deg)
    }
}

.style_trustedContactsNotificationText__cwwmL {
    color: var(--colors-beam);
    font-size: 4vh;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap
}

.style_trustedContactsNotification__93bFK.style_call__WOGMg .style_trustedContactsNotificationText__cwwmL {
    animation: style_call-text-animation__oTRC_ 2.5s linear infinite alternate
}

@keyframes style_call-text-animation__oTRC_ {
    0% {
        transform: rotate(-3deg)
    }
    9% {
        transform: rotate(3deg)
    }
    18% {
        transform: rotate(-3deg)
    }
    27% {
        transform: rotate(3deg)
    }
    36% {
        transform: rotate(-3deg)
    }
    45% {
        transform: rotate(3deg)
    }
    56% {
        transform: rotate(-3deg)
    }
    63% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(0deg)
    }
}

.style_trustedContactsNotificationLabel__PZiEh {
    margin-top: -.5em;
    color: var(--colors-beam80);
    font-size: 1.5vh;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap
}

.style_hideScrollBar__2I6Py {
    scrollbar-width: none
}

.style_hideScrollBar__2I6Py::-webkit-scrollbar {
    display: none
}

.style_main__kjfwe {
    --page-padding-y: 15px;
    --page-padding-x: 15px
}

@media(min-width:48em) {
    .style_main__kjfwe {
        --page-padding-y: 30px;
        --page-padding-x: 80px
    }
}

.style_main__kjfwe:not(.style_active__2yVxg) {
    overflow: hidden;
    height: 100svh
}

.style_scrollBar__nAb43 {
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    left: 100%;
    display: inline-grid;
    padding: 16px 0;
    grid-auto-flow: row;
    pointer-events: auto;
    transform: translate(-100%, -50%);
    transform-origin: 100% 50%;
    will-change: transform
}

.style_scrollBarItem__qgVma {
    position: relative;
    padding: 4px 10px 4px 15px;
    cursor: pointer
}

@media(min-width:48em) {
    .style_scrollBarItem__qgVma {
        padding: 4px 20px
    }
}

.style_scrollBarItemInner__rpHYz {
    position: relative;
    overflow: hidden;
    width: 6px;
    height: var(--height-mobile);
    border-radius: 3px;
    background: hsla(0, 0%, 100%, .2);
    will-change: height
}

@media(min-width:67em) {
    .style_scrollBarItemInner__rpHYz {
        height: var(--height)
    }
}

.style_scrollBarItemInner__rpHYz:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: var(--colors-whiteRgb);
    content: "";
    opacity: var(--opacity);
    transform: translateY(var(--translateY));
    transform-origin: 0 0;
    will-change: transform, opacity
}

.style_scrollBarItemLabel__TtIdb {
    position: absolute;
    top: 50%;
    right: calc(100% - 5px);
    display: block;
    font-weight: 500;
    pointer-events: none;
    white-space: nowrap;
    will-change: transform, opacity
}